<div class="container">
    <div class="row d-flex flex-row">
        <div class="col-6">

            <h3>Pokemon 1</h3>

            <table class="table">
               <thead>
                <th>Nombre</th>
                <th>Elemento</th>
                <th>Poder</th>
               </thead>
               <tbody>
                <tr *ngFor="let pokemon of pokemons">
                    <td>
                        {{pokemon.nombre}}
                    </td>
                    <td>
                        {{pokemon.elemento}}
                    </td>
                    <td>
                        {{pokemon.puntosPoder}}Pts
                    </td>
                    <td>
                        <button (click)="selectPokemon1(pokemon)" class="btn btn-primary">Seleccionar</button>
                    </td>
                </tr>
                
            </tbody>
            </table>

            <h4>Detalles del Pokemon</h4>
            <div class="form d-flex flex-row">
                <div class="col-7">
                    <label for="nombre">Nombre</label>
                    <input type="text"class="form-control" readonly bind-value="pokemon1.nombre" >
                    <label for="elemento">Elemento</label>
                    <input type="text" class="form-control" readonly bind-value="pokemon1.elemento">
                    <label for="poder">Poder</label>
                    <input type="number" class="form-control" readonly bind-value="pokemon1.puntosPoder">
                </div>
                <div class="col-5">
                    <img [src]="pokemon1.imgUrl" alt="" class="img col-12 m-3">
                </div>
            </div>
        </div>

        <div class="col-6">
            <h3>Pokemon 2</h3>
            <table class="table">
                <thead>
                 <th>Nombre</th>
                 <th>Elemento</th>
                 <th>Poder</th>
                 <th>Select</th>
                </thead>
                <tbody>
                    <tr *ngFor="let pokemon of pokemons">
                        <td>
                            {{pokemon.nombre}}
                        </td>
                        <td>
                            {{pokemon.elemento}}
                        </td>
                        <td>
                            {{pokemon.puntosPoder}}Pts
                        </td>
                        <td>
                            <button (click)="selectPokemon2(pokemon)" class="btn btn-primary">Seleccionar</button>
                        </td>
                    </tr>
                    
                </tbody>
             </table>
             <h4>Detalles del Pokemon</h4>
             <div class="form d-flex flex-row" >
                <div class="col-7">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" readonly bind-value="pokemon2.nombre">
                    <label for="elemento">Elemento</label>
                    <input type="text" class="form-control" readonly bind-value="pokemon2.elemento">
                    <label for="poder">Poder</label>
                    <input type="number" class="form-control" readonly bind-value="pokemon2.puntosPoder">
                </div>
                <div class="col-5">
                    <img [src]="pokemon2.imgUrl" alt="" class="img col-12 m-3">
                </div>
             </div>
        </div>
    </div>
    <div class="row d-flex flex-row justify-content-between">
        <button class="btn btn-success col-5 m-3" (click)="pokemonFight()">Luchar</button>
        <button class="btn btn-primary col-5 m-3" (click)="newFight()">Nueva Pelea</button>
    </div>  
    <div class="row">
        <div class="form d-flex flex-row">
            
            <div class="col-7">
                <br>
                <h5>G A N A D O R</h5>
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="form" readonly bind-value="pokemonWinner.nombre">
                <label for="nombre">Elemento</label>
                <input type="text" class="form-control" id="form" readonly bind-value="pokemonWinner.elemento">
                <label for="nombre">Poder</label>
                <input type="number" class="form-control" id="form" readonly bind-value="pokemonWinner.puntosPoder">
            </div>
              <div class="col-5">
                <img [src]="pokemonWinner.imgUrl" alt="" class="img col-12 m-3">
              </div>
        </div>
    </div>
</div>