 {{editing}}
<form (submit)="checkOption()">
  <h1>P O K E M O N</h1>
  <div class="d-flex flex-row ">
      <div class="col-6 " >
        <div class="form-group">
          <label for="nombre">Nombres</label> {{nombre}}
          <input type="text" class="form-control" id="inputAddress" placeholder="Nombre de Pokemon" name="nombre"  bind-value="nombre" [(ngModel)]="nombre">
          
        </div>
        <div class="form-group">
          <label for="genero">Genero</label>
          <input type="text" class="form-control" id="poderPokemon" placeholder="Genero" name="genero" bind-value="genero" [(ngModel)]="genero">
        </div>
    
        <div class="pokemonElemento">
          <label for="elemento">Elemento</label>
          <input type="text" class="form-control" id="poderPokemon" placeholder="Elemento" name="elemento" bind-value="elemento" [(ngModel)]="elemento">
        </div>
    
        <div class="pokemonPoder">
          <label for="puntosPoder">Nivel de Poder</label>
          <input type="text" class="form-control" id="poderPokemon" placeholder="puntosPoder" name="puntosPoder" bind-value="puntosPoder" [(ngModel)]="puntosPoder">
        </div>
        <div class="PokemonImagen">
          <label for="imgUrl">Seleccione imagen</label>
          <input type="file" accept=".jpg, .png" (change)="selectImage($event)" class="form-control" id="imgUrl" placeholder="imgUrl" name="imgUrl" >
        </div>
      </div>
      <div class="col-4 m-3">
        <img [src]="imgUrl" alt="" class="col-12 rounded">
      </div>
  </div>

  <br>
  <br>
  <input class="submit" type="submit" class="btn btn-primary" value="Save">
  
</form>
<button (click)="newPokemon()" class="btn btn-primary">New Pokemon</button>
<br><br>


<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Users</c-card-header>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead cTableColor="light">
            <tr>
              <th class="text-center">Nombre</th>
              <th class="text-center">Genero</th>
              <th class="text-center">Elemento</th>
              <th class="text-center">Poder</th>
              <th class="text-center">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pokemon of pokemons">
              <td class="text-center">
                {{pokemon.nombre }}
              </td>
              <td class="text-center">
                {{pokemon.genero}}
              </td>
              <td class="text-center">
                {{pokemon.elemento}}
              </td>

              <td class="text-center">
                {{pokemon.puntosPoder}}Pts
              </td>
            
              <td class="text-center">
                  <button class="btn btn-danger" id="red"(click)="deletePokemon(pokemon)">Eliminar</button>

                  <button class="btn btn btn-success" id="green" (click)="editPokemon(pokemon)">Editar</button>
              </td>
    
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>


<br><br><br>
